version: '3.9'

services:
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: youtube-backend
    restart: always
    ports:
      - "4000:4000"
    env_file:
      - ./backend/.env
    volumes:
      # Pastikan file service account ikut dimount agar bisa tulis ke Google Sheets
      - ./backend/service-account.json:/app/service-account.json
    networks:
      - app-network

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    container_name: youtube-frontend
    restart: always
    ports:
      - "80:80"
    depends_on:
      - backend
    networks:
      - app-network

networks:
  app-network:
    driver: bridge
